.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.VideoCard-buttons {
  position: absolute; 
  top:140px;
  left:0; 
  width:100%;
  color: white; 
  letter-spacing: -1px;  
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 10px; 
}

.VideoCard-description {
  position: absolute; 
  top:0;
  left:0; 
  height:100%;
  width:100%;
  overflow-x: scroll;
  color: white; 
  letter-spacing: -1px;  
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 10px; 
}

.VideoCard-buttons .icon:active {
  color: cyan;
}

#player-left {
  flex: 1;
  height: 86px;
  margin-top: 4px;
  min-width: 0px;
}
#player-middle {
  display: flex;
  align-items: center;
  height: 86px;
  margin: 4px 48px 0 48px;
}
#player-right {
  flex: 1;
  height: 86px;
  margin-top: 4px;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  position: relative;
  min-width: 0px;
}

#player-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  display: flex;
  background: white;
}

#player-progress {
  position: absolute;
  left: 120px;
  top: -5px;
  width: calc(100% - 120px);
}

#player-screen {
  transition: transform 0.3s;
}

#player-videoinfo {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 125px;
}

#player-controls {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 4px 24px 0 24px;
}

#player-controls .icon {
  margin: 10px;
}

#player-right .icon {
  margin: 10px;
}

#player-position {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 7px;
  margin-right: 10px;
  max-width: 100%;
  overflow: hidden;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 0.8em;
  font-color: grey;
}

.player-screen {
  position: absolute;
  left: 0;
  top: 0;
  width: 120px;
  height: 80px;
}

.expanded {
  transform: scale(3) translate(41px, -54px);
}

.volume-control {
  display: flex;
  width: auto;
}

.volume-slider {
  width: 100px;
  padding-top: 18px;
}
